<p>basicos works!</p>
<p>Formularios Reactivos</p>
<h2>Reactivos: Básicos</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">
            <!--Campo de Producto-->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                  <!--FormControlName: para relacionar nuestro input-->
                    <input type="text"
                           class="form-control"
                           formControlName="nombre"
                           placeholder="Nombre del Producto">
                    <span class="form-text text-danger"
                          *ngIf="campoEsValido('nombre')">
                                 Debede ser de 3 letras
                    </span>
                </div>
            </div>
            <!--Campo de precio-->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control"
                           formControlName="precio"
                           placeholder="Precio del Producto">
                    <span class="form-text text-danger"
                          *ngIf="campoEsValido('precio')">
                                 El precio debe de ser 0 o mayor
                    </span>
                </div>
            </div>
            <!--Campo de existencias-->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control"
                           formControlName="existencias"
                           placeholder="Existencias del Producto">
                    <span class="form-text text-danger"
                          *ngIf="campoEsValido('existencias')">
                                Las existencias deben de ser 0 o mayor
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                  <!--[disabled]: Si el formulario es invalido no voy a poder hacer clic si es valido si hace clic-->
                    <button class="btn btn-primary float-end"
                            type="submit">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">

        <!--Para recibir un valor del formulario .valid-->
        <span>Valid</span>
        <pre>{{ miFormulario.valid }}</pre>

        <!--Esta en true por que no se han cambiado los valores del formulario .pristine-->
        <span>Pristine</span>
        <pre>{{ miFormulario.pristine }}</pre>

        <!--Si el usuario hizo clic en el input esta en false, si lo preciona se cambia a true-->
        <span>Touched</span>
        <pre>{{ miFormulario.touched }}</pre>

         <!--Para recibir un valor del formulario .value-->
        <span>Value</span>
        <pre>{{ miFormulario.value | json}}</pre>
    </div>
</div>
