<p>basicos works!</p>
<p>Aproximación de Template</p>
<h2>Template: Básicos</h2>
<hr>

<div class="row">
    <div class="col">
        <!--Creamos una referencia con # y va ser de tipo ngForm-->
        <!--Que enlace la referencia ngForm a #-->
        <!--autocomplete: quitar sugerencias del navegador-->
        <form (ngSubmit)="guardar()" 
              #miFormulario="ngForm" 
              autocomplete="off">
            <!--Campo de Producto-->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <!--FormsModule: Es necesario tener agregado en el modulo para tener control del formulario-->
                    <!--tipe: recibe texto-->
                    <!--class: clases de bootstrap-->
                    <!--ngModel: para que los campos, sean parte de este formulario nos interesa el valor y se pone en llaves para manipularlo-->
                    <!--name: Es necesario el name , ya que por si solo el ngModel manda error en consola-->
                    <!--placeholder: descripción del input-->
                    <!--required: indicarle que necesita un valor-->
                    <!--minlength: el minimo de caracteres tienen que ser 3-->
                    <input type="text" 
                           class="form-control" 
                           [ngModel]="initForm.producto"  
                           name="producto" 
                           placeholder="Nombre del Producto"
                           required 
                           minlength="3">
                    <span class="form-text text-danger"
                          *ngIf="nombreValido()">
                                 Debede ser de 3 letras
                    </span>
                </div>
            </div>
            <!--Campo de precio-->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number" 
                           class="form-control" 
                           [ngModel]="initForm.precio" 
                           name="precio" 
                           placeholder="Precio del Producto"
                           required>
                    <span class="form-text text-danger"
                          *ngIf="precioValido()">
                                 El precio debe de ser 0 o mayor
                    </span>
                </div>
            </div>
            <!--Campo de existencias-->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <!--customMin: nombre de la directiva personalizada-->
                    <!--Las directivas nos ayudan a validar formularios al dar clic en el boton, si es correcta la informacion hace la función-->
                    <!--[minimo]: Le va a exterder este atributo minimo a el input(valor minimo)-->
                    <input type="number" 
                           class="form-control" 
                           [ngModel]="initForm.existencia" 
                           name="existencia"
                           customMin
                           [minimo]="0"
                           placeholder="Existencias del Producto"
                           required>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end" 
                            type="submit"
                            [disabled]="miFormulario.invalid">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">

        <!--Para recibir un valor del formulario .valid-->
        <span>Valid</span>
        <pre>{{ miFormulario.valid }}</pre>

        <!--Esta en true por que no se han cambiado los valores del formulario .pristine-->
        <span>Pristine</span>
        <pre>{{ miFormulario.pristine }}</pre>

        <!--Si el usuario hizo clic en el input esta en true, si lo preciona se cambia a true-->
        <span>Touched</span>
        <pre>{{ miFormulario.touched }}</pre>

         <!--Para recibir un valor del formulario .value-->
        <span>Value</span>
        <pre>{{ miFormulario.value | json}}</pre>
    </div>
</div>